// paleta de colores

$btn-blue: #0078F2
$white-font: #f5f5f5
$gray-light: #cccccc
$my-gray: #f5f5f599
$bg-header-color: #ffffff1A
$bg-color: #121212

// App

body
    background-color: $bg-color
    color: $white-font
    font-family: sans-serif

div
    background-color: $bg-header-color

// Header

